.header{
	    color:#55286F;
	    font-size:50;
	    font-family:Broadway;
	    border-bottom-style:solid;
	    border-bottom-width:2;
	    border-bottom-color:#F4ACB7;
	    margin-bottom:15;
       }  


.form{
	   background-color:#FFE5D9;
	   border-style:solid;
	   border-width:4;
	   border-radius:20px;
       border-color:#6F2DBD;
	   display:none;
	   z-index:6;
     }	 
	 
.form1{
	   position: relative;
	   background-color:#FFE5D9;
	   z-index:6;
	   border-style:solid;
	   border-width:4;
	   border-radius:20px;
       border-color:#6F2DBD;
	   display:none;
	   z-index:5;
     }	 	 

.f1{
	   color:#55286F;
	   margin-top:20;
       font-size:30;
       font-weight:200;
	   text-align:center;
	   word-wrap: break-word;
   }	 
   
.f2{
	   color:#55286F;
	   margin-top:10;
	   margin-bottom:0;
       font-size:30;
       font-weight:200;
	   text-align:center;
	   word-wrap: break-word;
   }	    
  
.input{
	          width:70%;
	          border-width:5;
			  border-color:#6F2DBD;
              margin-top:10;			  
			  margin-bottom:20;
			  border-style:solid;
			  border-radius:10px;
              font-size:20;	
			  font-weight:100;
              color:black;			  
	  }
			
.input1    {
	          border-width:5;
			  border-color:#6F2DBD;
			  width:70%;
              margin-top:10;			  
			  margin-bottom:20;
			  border-style:solid;
			  border-radius:10px;
              font-size:20;	
			  font-weight:100;
              color:black;			  
		    }	

.code{
	          border-width:5;
			  border-color:#6F2DBD;
			  width:185;
              margin-top:5;			  
			  margin-bottom:0;
			  margin-left:-8;
			  border-style:solid;
			  border-radius:10px;
              font-size:20;	
			  font-weight:100;
              color:black;
              display:none;			  
     }			

.inputButton{
	         border-width:5;
	         border-color:#6F2DBD;
		     color:white;
			 margin-right:10;
			 margin-top:10;
		     background-color:#55286F;
		     font-size:20;
		     border-radius:10px;
            }	

.inputButton:hover{
	             border-width:5;
	             border-color:#6F2DBD;
		         background-color:#6F2DBD;
				 margin-right:10;
				 margin-top:10;
				 color:white;
		         font-size:20;
		         border-radius:10px;
            }	

.err{
	 color:red;
    }			